.newArea {
    height: 100vh;
    width: 100vw;
    user-select: none;
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    color: white;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 100px;
}

.backArrow {
    width: 35px;
    height: 35px;
    padding-right: 20px;
    cursor: pointer;
    padding-left: 50px;
}

.content {
    width: 330px;
    height: 90px;
    background-color: #191919;
    margin-bottom: 3em;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.module_icon {
    width: 50px;
    height: 50px;
    margin-right: 2em;
}

.video {
    height: 500px;
    border-radius: 80px;
}

.description {
    margin-top: 1em;
    font-size: 1.2em;
}

.button {
    margin-top: 1em;
    font-size: 1.2em;
    background-color: #0044ff;
    color: white;
    border: none;
    border-radius: 35px;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.2s;
    padding: 1em 5em;
}

.button:hover {
    background-color: #1e90ff;
}

